/*日期选择插件样式*/
#inputTime{
	width: 14em;
	text-align: center;
	padding: 1em;
	position: absolute;
	z-index: 9;
}
#inputTime>span{
	width: 8em;
	display: inline-block;
	margin: 0.5em 0;
}
#inputTime>div{
	width: 16em;
	height: 31px;
	background-color: #0ff;
	position: absolute;
	left: 0;
	z-index: -1;
}
#inputTime #lastMonth{
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color: #0ff;
	vertical-align: middle;
	float: left;
}
#inputTime #nowMonth{
	line-height: 20px;
	display: inline-block;
}
#inputTime #nextMonth{
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left-color: #0ff;
	vertical-align: middle;
	float: right;
}
#inputTime table{
	border-collapse: collapse;
}
#inputTime table td{
	width: 2em;
	padding: 0.35em;
}
#inputTime table tr:first-child{
	color: #000;
}
#inputTime table td.gray{
	color: #aaa;
}