/*日期选择插件样式*/
#inputDate{
	width: 14em;
	text-align: center;
	padding: 1em;
	position: absolute;
	border: 2px solid #eaeaea;
	cursor: default;
	z-index: 9;
}
#inputDate>span{
	width: 8em;
	display: inline-block;
	margin: 0.5em 0;
}
#inputDate>div.line{
	width: 16em;
	height: 31px;
	background-color: #0ff;
	position: absolute;
	left: 0;
	z-index: -1;
}
#inputDate #lastMonth{
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color: #0ff;
	vertical-align: middle;
	float: left;
}
#inputDate #nowMonth{
	line-height: 20px;
	display: inline-block;
}
#inputDate #nextMonth{
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left-color: #0ff;
	vertical-align: middle;
	float: right;
}
#inputDate table{
	border-collapse: collapse;
}
#inputDate table td{
	width: 2em;
	padding: 0.35em;
}
#inputDate table td.gray{
	color: #aaa;
}
#inputDate table td.blueBorder{
	border: #0ff 1px solid;
}
#inputDate #inputTime{
	color: #f00;
}
#inputDate #inputTime input[type="text"]{
	width: 2em;
	display: inline-block;
}
#inputDate #inputTime a{
	color: #0cc;
	text-decoration: none;
	display: inline-block;
	width: 2em;
	vertical-align: bottom;
}